body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;

}
p{
    font-family: sans-serif;

}
.orang-tex{
    color: #FFA500;
}
h1{
    font-size:50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato) ;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    position:relative;
    top: 30px;
   

}
#top-txt{
    margin: 100px 0 0 50px;
}
.about-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
#about-img{
    width: 50%;
    padding: 20px 0 0 25%;
}
.about{
    width: 30%;
    padding-top: 50px;
}
.my-recipies{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.recipies-item{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 10px 50px 10px 50px;   
}
.recipies-item img{
   width: 100%;
}
.subscriber{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 1239px;
    margin: auto;
    
}
.susbscrib-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
footer{
    background: #0B0D17;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    color: #E0E1E2;
}
.subscrib-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding: 20px;
    
}

.offer{
background: #F0F2F5;
height: 500px;

}
.offer img{
    width:100%;
    height: 480px;
    padding-top: 20px;
}
.tody-offer{
    width: 400px;
    height: 400px;
    background:#29353C;
    position: relative;
    top: 50px;
    margin-left: 20px;
    color: white;
    text-align: center;
}
.feedback{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 20px
}
.feedback img{
    width: 50%;
    border-radius: 100%;
}